<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bot Manager</title>
</head>
<body style="font-family: 'Times New Roman', Times, serif;">
    <h1 style="text-align: center;">Discord Bot Manager</h1>

    <form action="/" method="POST" style="text-align: center;">
        <!Password>
        <label for="pwd">Passphrase:</label><br/>
            <input type="password" id="pwd" name="pwd" required> <br/>
        
        <!Action choice>
        <h3>Action Choice</h2>
            <input type="radio" id="run" name="action" value="run" required>
        <label for="run">Run</label><br/>
            <input type="radio" id="update" name="action" value="update" required>
        <label for="update">Update</label><br/>
            <input type="radio" id="add" name="action" value="add"  required>
        <label for="add">Add</label><br/>
        
            <div id = "addTextBox" style = "visibility: hidden;">
                <input type="text" id = "bot-name" name = "addOptions" placeholder = "Bot name" > <br/>
                <input type="text" id = "github-link" name = "addOptions" placeholder = "GitHub link" pattern = "https://github.com/.+/.+\.git">
                <p style="font-size: small;">Make sure the GitHub Link is formatted properly. It needs the https link, nothing else is accepted.
                    <br/><span style='font-weight: bold;'>Make sure the main is called index.js</span></p>
            </div>
        
            <!If add is selected, then the link and bot name options are shown>
            <script> 
                let addButton = document.getElementById('add');
                let addTextBox = document.getElementById("addTextBox")
                let textBox1 = addTextBox.children.item(0);
                let textBox2 = addTextBox.children.item(2);
                function checkFocus(){
                    if(document.activeElement ===addButton || document.activeElement===textBox1||document.activeElement===textBox2) {addTextBox.style.visibility = 'visible';}
                    else{addTextBox.style.visibility = 'hidden';}
                }
                setInterval(checkFocus,200);
            </script>
            
        <!Bot Choice>
        <div id="botChoiceDiv" style = 'visibility: hidden;'>
            <h3>Bot Choice</h2>
                <!Generates a radio button for each new bot>
                <% bots.forEach(bot => { %>
                    <input type="radio" name="botChoice" id="<%=bot.name%>"  value = "<%=bot.name%>" required>
                    <label for="<%=bot.name%>" ><%= bot.name %> </label><br/>
                <% }) %>
                <input type="radio" name="botChoice" id="none"  value = "none" required>
                <label for="none" >None </label><br/>

        </div>

        <!Checks to see if the update or run buttons are selected, then makes the bot choice pop up>
        <script>
            function botChoiceDiv(){
                if(document.getElementById('run').checked || document.getElementById('update').checked){
                    document.getElementById('botChoiceDiv').style.visibility= 'visible';
                }
                else{
                    document.getElementById('botChoiceDiv').style.visibility= 'hidden';
                    documen.getElementById('none').checked=true;
                }
            }
            setInterval(botChoiceDiv,200);
            

        </script>
        
    

        <!Submit Button>
        <br/><br/> <input type="submit" value="Submit" onsubmit="location.href='./index.html'"> <input type = "reset" name="Reset">  
    </form>
</body>
</html>