<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect credentials</title>
</head>
<body style='text-align: center;'>
    <h1>Wrong Password, try again</h1>
    <p>Redirecting back to home page...<br/> <span style="font-size: x-small;">or maybe youre doing something sneaky, huh?</span></p>
</body>
<script>
    setTimeout(()=>{
       // after 4 seconds
       window.location = "./";
    }, 4*1000)
  </script>
</html>